. {
    --background: rgba(0,0,0,10%);
}
body{
    color: var(--background);
}

#loginTitle{
    text-align: center;
    font-size: xx-large;
    font-family: 'Orbitron', sans-serif;
}

.parent{
    align-content: center;
    justify-content: center;
}

.items{
    display: flex;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-content: center;
    margin:10px;
    font-size: x-large;
}

.in{
    align-self: center;
    height: fit-content;
    margin-left: 10px;

}
